In [1]:
import pandas as pd
import numpy as np

## Grouping rounds for Orkney data

In [2]:
orkney_data = pd.read_excel('./data/Data Orkney.xlsb', engine='pyxlsb')

In [3]:
orkney_data.drop(['SN', 'Start', 'End', 'Date', 'year', 'month', 'day', 'hour', 'minute', 'second', 'cul'], axis=1, inplace=True)

In [4]:
game_groups = orkney_data.groupby(['GameID', 'Rounds', 'Treatments'])
row_list = []
i=0
for grp in game_groups.groups:
    #print(i)
    i+=1
    df = game_groups.get_group(grp)
    col_list = ['{}_{}'.format(c, x) for x in [1, 2, 3, 4] for c in df.columns]
    df = df.stack(dropna=False).to_frame().T
    df.columns = col_list
    row_list.append(df)
orkney_grouped = pd.concat(row_list, axis=0, ignore_index=True)

In [5]:
lst = ['GameID', 'Treatments', 'Rounds', 'subsidy', 'order', 'a_count']
for x in lst:
    print(x)
    a=x+'_1'
    b=x+'_2'
    c=x+'_3'
    d=x+'_4'
    print((orkney_grouped[a].dropna()==orkney_grouped[b].dropna()).all())
    print((orkney_grouped[a].dropna()==orkney_grouped[c].dropna()).all())
    print((orkney_grouped[a].dropna()==orkney_grouped[d].dropna()).all())

GameID
True
True
True
Treatments
True
True
True
Rounds
True
True
True
subsidy
True
True
True
order
True
True
True
a_count
True
True
True

In [6]:
common_col_list = ['GameID', 'Treatments', 'Rounds', 'subsidy', 'order', 'a_count']
drop_list = ['{}_{}'.format(y, x) for x in [2 ,3, 4] for y in common_col_list]
name_list = ['{}_1'.format(y) for y in common_col_list]
rename_dict = dict(zip(name_list, common_col_list))
orkney_grouped.drop(drop_list, axis=1, inplace=True)
orkney_grouped.rename(columns=rename_dict, inplace=True)

In [7]:
orkney_grouped.to_csv('./output/orkney_grp.csv')

In [8]:
del orkney_data
del orkney_grouped

## Grouping rounds for Gabon data

In [9]:
gabon_data = pd.read_excel('./data/Data Gabon.xlsb', engine='pyxlsb')

In [10]:
#gabon_data = pd.read_excel('gabon.xlsx')
#gabon_data['GameID'] = gabon_data['GameID'].astype('str')
#gabon_data.replace({'GameID': {'2019-06-01 00:00:00': '01JUN'}}, inplace=True)

In [11]:
print(gabon_data[gabon_data['GameID']=='2CAS']['Treatments'].value_counts(dropna=False))
print(gabon_data[gabon_data['GameID']=='2CAS']['Game_order'].value_counts(dropna=False))
#gabon_data[(gabon_data['GameID']=='2CAS')&(gabon_data['Game_order']==3)&(gabon_data['Treatments']=='T5')][['Game_order', 'Treatments']]
gabon_data['Game_order'] = np.where((gabon_data['GameID']=='2CAS')&(gabon_data['Game_order']==3)&(gabon_data['Treatments']=='T5'),
                                   2, gabon_data['Game_order'])
print('After correction:')
print(gabon_data[gabon_data['GameID']=='2CAS']['Treatments'].value_counts(dropna=False))
print(gabon_data[gabon_data['GameID']=='2CAS']['Game_order'].value_counts(dropna=False))

T2    32
T4    32
T5    32
T3    32
Name: Treatments, dtype: int64
3.0    40
4.0    32
1.0    32
2.0    24
Name: Game_order, dtype: int64
After correction:
T2    32
T4    32
T5    32
T3    32
Name: Treatments, dtype: int64
3.0    32
2.0    32
4.0    32
1.0    32
Name: Game_order, dtype: int64

In [12]:
print(gabon_data['GameID'].value_counts())
gabon_data['GameID'] = np.where(gabon_data['GameID']==43617, '01JUN', gabon_data['GameID'])
print('After correction:')
print(gabon_data['GameID'].value_counts())

4OTO     128
4BON     128
2MIKI    128
3AYE     128
1MAS     128
        ...
1MAN     128
2MAN     128
3MAL     128
43617     96
01JUN     32
Name: GameID, Length: 66, dtype: int64
After correction:
01JUN    128
4OTO     128
2MIKI    128
3AYE     128
1MAS     128
        ...
2MIK     128
1MAN     128
2MAN     128
3MAL     128
1BOU     128
Name: GameID, Length: 65, dtype: int64

In [13]:
print(gabon_data['Game_order'].value_counts(dropna=False))
print(len(gabon_data[(gabon_data['Game_order']==3)&(gabon_data['VillageID']=='MAL')]))
print(len(gabon_data[(gabon_data['Game_order']==4)&(gabon_data['VillageID']=='MAL')]))
gabon_data['Game_order'] = np.where((gabon_data['Game_order'].isna())&(gabon_data['VillageID']=='MAL'), 3, gabon_data['Game_order'])
gabon_data['Game_order'] = np.where((gabon_data['Game_order'].isna())&(gabon_data['VillageID']=='BON'), 4, gabon_data['Game_order'])
print('After correction:')
print(gabon_data['Game_order'].value_counts(dropna=False))

1.0    2080
2.0    2080
4.0    2048
3.0    2048
NaN      64
Name: Game_order, dtype: int64
256
288
After correction:
4.0    2080
1.0    2080
2.0    2080
3.0    2080
Name: Game_order, dtype: int64

In [14]:
gabon_data.drop(columns=['SN', 'Start_Interv', 'End_Interv', 'Date', 'Enumerator', 'Yea', 'Mth', 'Day', 'Hou', 'Min', 'Sec', 'Cul'], inplace=True)

In [15]:
game_groups = gabon_data.groupby(['GameID', 'Rounds', 'Treatments'])
row_list = []
i=0
for grp in game_groups.groups:
    #print(i)
    i+=1
    df = game_groups.get_group(grp)
    col_list = ['{}_{}'.format(c, x) for x in [1, 2, 3, 4] for c in df.columns]
    df = df.stack(dropna=False).to_frame().T
    df.columns = col_list
    row_list.append(df)
gabon_grouped = pd.concat(row_list, axis=0, ignore_index=True)

In [16]:
lst = ['GameID', 'Treatments', 'Rounds', 'Game_order', 'a_count', 'Sub']
for x in lst:
    print(x)
    a=x+'_1'
    b=x+'_2'
    c=x+'_3'
    d=x+'_4'
    print((gabon_grouped[a].dropna()==gabon_grouped[b].dropna()).all())
    print((gabon_grouped[a].dropna()==gabon_grouped[c].dropna()).all())
    print((gabon_grouped[a].dropna()==gabon_grouped[d].dropna()).all())

GameID
True
True
True
Treatments
True
True
True
Rounds
True
True
True
Game_order
True
True
True
a_count
True
True
True
Sub
False
False
False

In [17]:
gabon_grouped[gabon_grouped['Sub_1']!=gabon_grouped['Sub_4']][['Sub_1','Sub_4', 'GameID_1']].dropna()

    Sub_1 Sub_4 GameID_1
195     2     4    15LOP
197     2     4    15LOP
205     4     2    15LOP

In [18]:
gabon_grouped['Sub_1'] = gabon_grouped['Sub_3']
gabon_grouped['Sub_2'] = gabon_grouped['Sub_3']

In [19]:
common_col_list = ['GameID', 'Treatments', 'Rounds', 'Sub', 'Game_order', 'a_count']
drop_list = ['{}_{}'.format(y, x) for x in [2, 3, 4] for y in common_col_list]
name_list = ['{}_1'.format(y) for y in common_col_list]
rename_dict = dict(zip(name_list, common_col_list))
gabon_grouped.drop(drop_list, axis=1, inplace=True)
gabon_grouped.rename(columns=rename_dict, inplace=True)

In [20]:
gabon_grouped.to_csv('./output/gabon_grp.csv')

In [21]:
del gabon_data
del gabon_grouped

## Grouping rounds for Madagascar-Kenya data

In [22]:
data = pd.read_excel('./data/Data Madagascar _ Kenya.xlsb', engine='pyxlsb')

In [23]:
data.drop(['SN', 'year', 'mont', 'dayy', 'hour', 'minu', 'seco'], axis=1, inplace=True)

In [24]:
data['Treatments'].unique()

array(['P', 'T1', 'T2', 'T3', 'T4', 'T5'], dtype=object)

In [25]:
data = data[data.Treatments != 'P']
data['Treatments'].unique()

array(['T1', 'T2', 'T3', 'T4', 'T5'], dtype=object)

In [26]:
print(data['GAMEID'].value_counts())
data.replace({'GAMEID': {'O6IMA': '06IMA', 'O2IMA': '02IMA'}}, inplace=True)
print('After correction:')
print(data['GAMEID'].value_counts())

11AND    220
02AND    220
09IMA    220
22LAK    220
19LAK    220
        ...
04SAN    220
06IMA    165
02IMA    165
O6IMA     55
O2IMA     55
Name: GAMEID, Length: 95, dtype: int64
After correction:
11AND    220
14SAN    220
01LAK    220
09IMA    220
22LAK    220
        ...
13ONT    220
07IMA    220
06IMA    220
04SAN    220
17LAK    220
Name: GAMEID, Length: 93, dtype: int64

In [27]:
game_groups = data.groupby(['GAMEID', 'Rounds', 'Treatments'])
row_list = []
i=0
for grp in game_groups.groups:
    #print(i)
    i+=1
    df = game_groups.get_group(grp)
    col_list = ['{}_{}'.format(c, x) for x in [1, 2, 3, 4] for c in df.columns]
    df = df.stack(dropna=False).to_frame().T
    df.columns = col_list
    row_list.append(df)
data_grouped = pd.concat(row_list, axis=0, ignore_index=True)

In [28]:
lst = ['GAMEID', 'Treatments', 'Rounds', 'Subs', 'Country']
for x in lst:
    print(x)
    a=x+'_1'
    b=x+'_2'
    c=x+'_3'
    d=x+'_4'
    print((data_grouped[a].dropna()==data_grouped[b].dropna()).all())
    print((data_grouped[a].dropna()==data_grouped[c].dropna()).all())
    print((data_grouped[a].dropna()==data_grouped[d].dropna()).all())

GAMEID
True
True
True
Treatments
True
True
True
Rounds
True
True
True
Subs
True
True
True
Country
True
True
True

In [29]:
common_col_list = ['GAMEID', 'Treatments', 'Rounds', 'Subs', 'Country']
drop_list = ['{}_{}'.format(y, x) for x in [2, 3, 4] for y in common_col_list]
name_list = ['{}_1'.format(y) for y in common_col_list]
rename_dict = dict(zip(name_list, common_col_list))
data_grouped.drop(drop_list, axis=1, inplace=True)
data_grouped.rename(columns={'rimary_income_1': 'Primary_income_1', 'rimary_income_2': 'Primary_income_2',
                            'rimary_income_3': 'Primary_income_3', 'rimary_income_4': 'Primary_income_4'})
data_grouped.rename(columns=rename_dict, inplace=True)

In [30]:
data_grouped.to_csv('./output/madken_grp.csv')

## Grouping rounds for Tanzania data

In [31]:
data = pd.read_excel('./data/Data Tanzania.xlsx')

In [32]:
data.drop(['SN', 'year', 'month', 'day', 'hour', 'minute', 'second', 'culled'], axis=1, inplace=True)

In [33]:
print(data['Treatments'].unique())
data = data[data.Treatments != 'P']
data['Treatments'].unique()

['P' 'T1' 'T2' 'T3' 'T5']

array(['T1', 'T2', 'T3', 'T5'], dtype=object)

In [34]:
game_groups = data.groupby(['GameID', 'Rounds', 'Treatments'])
row_list = []
i=0
for grp in game_groups.groups:
    #print(i)
    i+=1
    df = game_groups.get_group(grp)
    col_list = ['{}_{}'.format(c, x) for x in [1, 2, 3, 4] for c in df.columns]
    df = df.stack(dropna=False).to_frame().T
    df.columns = col_list
    row_list.append(df)
data_grouped = pd.concat(row_list, axis=0, ignore_index=True)

In [35]:
lst = ['GameID', 'Treatments', 'Rounds', 'subsidy', 'order', 'l_count']
for x in lst:
    print(x)
    a=x+'_1'
    b=x+'_2'
    c=x+'_3'
    d=x+'_4'
    print((data_grouped[a].dropna()==data_grouped[b].dropna()).all())
    print((data_grouped[a].dropna()==data_grouped[c].dropna()).all())
    print((data_grouped[a].dropna()==data_grouped[d].dropna()).all())

GameID
True
True
True
Treatments
True
True
True
Rounds
True
True
True
subsidy
True
True
True
order
True
True
True
l_count
True
True
True

In [36]:
common_col_list = ['GameID', 'Treatments', 'Rounds', 'subsidy', 'order', 'l_count']
drop_list = ['{}_{}'.format(y, x) for x in [2, 3, 4] for y in common_col_list]
name_list = ['{}_1'.format(y) for y in common_col_list]
rename_dict = dict(zip(name_list, common_col_list))
data_grouped.drop(drop_list, axis=1, inplace=True)
data_grouped.rename(columns=rename_dict, inplace=True)

In [37]:
data_grouped.to_csv('./output/tanzania_grp.csv')

## Verifying Madagascar NonCropShare data

In [39]:
data = pd.read_excel('./data/Data Madagascar NCS.xlsx')
data = data[data['session ID'].notna()]
data['session ID'] = np.where((data['session ID']=='23_GP')&(data['Round']==8)&(data['row.id']==608), '23_G4', data['session ID'])
data['Treatment'] = np.where(data['Treatment'].isna(), 'Incentive Only', data['Treatment'])
data['Treatment'] = np.where((data['Treatment']=='Communication Only')&(data['Round']==8)&(data['session ID']=='23_G4'),
                             'Incentive Only', data['Treatment'])
data.drop(index=data[data['session ID'].str.contains('_GP')==True].index, inplace=True)

In [40]:
game_groups = data.groupby(['session ID', 'Round', 'Treatment'])
row_list = []
i=0
for grp in game_groups.groups:
    #print(i)
    i+=1
    df = game_groups.get_group(grp)
    col_list = ['{}_{}'.format(c, x) for x in [1, 2, 3, 4] for c in df.columns]
    df = df.stack(dropna=False).to_frame().T
    df.columns = col_list
    row_list.append(df)
data_grouped = pd.concat(row_list, axis=0, ignore_index=True)

In [41]:
len(data['session ID'].unique()) * len(data['Round'].unique()) * len(data['Treatment'].unique()) == len(data)

True

In [42]:
data_grouped['Subsidy_4'] = data_grouped['Subsidy_1']
print((data_grouped['Subsidy_1']==data_grouped['Subsidy_2']).all())
print((data_grouped['Subsidy_1']==data_grouped['Subsidy_3']).all())
print((data_grouped['Subsidy_1']==data_grouped['Subsidy_4']).all())
print((data_grouped['Subsidy_2']==data_grouped['Subsidy_3']).all())
print((data_grouped['Subsidy_2']==data_grouped['Subsidy_4']).all())
print((data_grouped['Subsidy_3']==data_grouped['Subsidy_4']).all())

True
True
True
True
True
True

In [43]:
lst = ['session ID', 'Treatment', 'Round', 'Subsidy', 'Treatment_Order']
for x in lst:
    print(x)
    a=x+'_1'
    b=x+'_2'
    c=x+'_3'
    d=x+'_4'
    print((data_grouped[a].dropna()==data_grouped[b].dropna()).all())
    print((data_grouped[a].dropna()==data_grouped[c].dropna()).all())
    print((data_grouped[a].dropna()==data_grouped[d].dropna()).all())

session ID
True
True
True
Treatment
True
True
True
Round
True
True
True
Subsidy
True
True
True
Treatment_Order
True
True
True

In [44]:
common_col_list = ['session ID', 'Treatment', 'Round', 'Subsidy', 'Treatment_Order']
drop_list = ['{}_{}'.format(y, x) for x in [2, 3, 4] for y in common_col_list]
name_list = ['{}_1'.format(y) for y in common_col_list]
rename_dict = dict(zip(name_list, common_col_list))
data_grouped.drop(drop_list, axis=1, inplace=True)
data_grouped.rename(columns=rename_dict, inplace=True)

In [45]:
data_grouped.to_csv('./output/madgas_grp.csv')

## Verifying Cambodia and Vietnam datasets

In [46]:
data = pd.read_csv('./data/Data Vietnam.csv')

In [47]:
data['Game'].value_counts()

G3    1024
G2    1024
G1    1024
G4    1024
GP     384
Name: Game, dtype: int64

In [48]:
data = data[data['Game']!='GP']

In [49]:
len(data['Session'].unique()) * len(data['Round'].unique()) * len(data['Game'].unique()) == len(data)

True

In [50]:
data = pd.read_csv('./data/Data Cambodia.csv')
data = data[data['Game']!='GP']

In [51]:
len(data['Session'].unique()) * len(data['Round'].unique()) * len(data['Game'].unique()) == len(data)

True